.menu {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(105, 90, 205, 0.479);
    border-top: 3px solid rgb(165, 22, 22);
    border-bottom: 3px solid rgb(165, 22, 22);
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 1em;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.nav {
    transform: translate(100%);
    transition: all .4s ease-in-out;
}

#hamburger:checked~.nav {
    transform: translate(0);
}